<!-- footer  -->

<div class="container-fluid bg-dark d-flex  justify-content-center ">
  <footer class=" py-4 w-75">
    <div class="row text-light">
      
      <!-- men footer nav container  -->
      <div class="col-sm-3 text-center">

        <!-- took this bootstrap row just to align the h5 heading text -->
        <div class="row">
          
          <!-- footer nav menu women's heading -->
          <h5>Women</h5>

          <!-- footer nav menu women's sub-categories -->
          <ul class="nav flex-column ">
            <li class="nav-item mb-2"><a href="../categories/womenDresses.html" target="_blank" class="nav-link p-0 text-light link-danger">Dresses</a></li>
            <li class="nav-item mb-2"><a href="../categories/womenPants.html" target="_blank" class="nav-link p-0 text-light link-danger">Pants</a></li>
            <li class="nav-item mb-2"><a href="../categories/womenSkirts.html" target="_blank" class="nav-link p-0 text-light link-danger">Skirts</a></li>
          </ul>
        </div>
      </div>

      <!-- men footer nav container  -->
      <div class="col-sm-3 text-center">

        <!-- took this bootstrap row just to align the h5 heading text -->
        <div class="row">
          <!-- footer nav menu men's heading -->
          <h4 class=>Men</h4>

          <!-- footer nav menu men's sub-categories -->
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="../categories/menShirts.html" target="_blank" class="nav-link p-0 text-light link-danger">Shirts</a></li>
            <li class="nav-item mb-2"><a href="../categories/menPants.html" target="_blank" class="nav-link p-0 text-light link-danger">Pants</a></li>
            <li class="nav-item mb-2"><a href="../categories/menHoodies.html" target="_blank" class="nav-link p-0 text-light link-danger ">Hoodies</a></li>
          </ul>
        </div>
      </div>

      <!-- kids footer nav container  -->
      <div class="col-sm-3 text-center">

        <!-- took this bootstrap row just to align the h5 heading text -->
        <div class="row">
          <!-- footer nav menu kids heading -->
          <h5>Kids</h5>
          <!-- footer nav menu kids sub-categories -->
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light link-danger"></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light link-danger"></a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-light link-danger"></a></li>
          </ul>
        </div>
      </div>

      <!-- other pages nav footer container  -->
      <div class="col-sm-3 text-center">

        <!-- took this bootstrap row just to align the h5 heading text -->
        <div class="row">
          <h5>Links</h5>
          <!-- footer nav menu other site pages -->
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="../index.html" target="_blank" class="nav-link p-0 text-light link-danger">Home</a></li>
            <li class="nav-item mb-2"><a href="../logIn.html" target="_blank" class="nav-link p-0 text-light link-danger">Log In</a></li>
            <li class="nav-item mb-2"><a href="../contactUs.html" target="_blank" class="nav-link p-0 text-light link-danger">Contact</a></li>
          </ul>
        </div>
      </div>

    </div>

    <!-- here used padding-top as if i use py-4 it will give top and bottom both side padding which I dont want here -->
    <div class="row justify-content-center text-center" style="padding-top:30px;">
      <hr class="border border-danger border-1 opacity-50 w-80">
      <p class="text-light">Copyright &copy;Ecommerce 2024-2025</p>
    </div>
  </footer>
</div>