<header>
  <!-- top nav bar -->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark ">

    <!-- main navbar container -->
    <div class="container gx-2">

      <!-- site logo  -->
      <a class="navbar-brand fw-bolder" href="../index.html">Ecommerce</a>

      <!-- toggle button for mobile devices  -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- login, search bar and card button  -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- serch bar inside the form -->
        <form class="search-frm d-inline-flex search-bar mb-2 ms-auto mb-sm-2 mb-lg-0" role="search">
          <input class="search-input w-75" type="search" placeholder="Product name, Category name, etc"
            aria-label="Search">
          <button class="search-btn btn pt-2 ps-4 pe-4 pb-2 fw-semibold text-dark btn-danger" type="submit">Search</button>
        </form>
        <!-- log in and cart nav  -->
        <ul class=" navbar-nav mb-2 mb-lg-0 ms-auto">
          <li> <a class="btn text-dark btn-danger" href="../logIn.html" target="_blank">Login</a> </li>
          <li class="nav-item">
            <a class="nav-link link-danger" href="../cart.html" target="_blank"><i
                class="cart-ic fa-solid fa-2xl fa-cart-shopping"></i></a>
          </li>
      </div>
    </div>
  </nav>

  <!-- bottom nav bar -->
  <div class="container-fluid navbar-2-cont ps-0 pe-0 ">
    <nav class="navbar navbar-expand-lg bg-body-tertiary pt-0 pb-0">
      <!-- nav items  -->
      <ul class="nav mb-lg-0 mb-2 mx-auto d-flex justify-content-center row">
        <!-- nav item columns -->
        <div class="col-auto gx-0">
          <!-- Home nav item  -->
          <li class="nav-item">
            <a class="nav-link active link-danger " aria-current="page" href="../index.html">Home</a>
          </li>
        </div>
        <!-- override gx-0 so there is no padding between the nav items -->
        <!-- nav item columns -->
        <div class="col-auto gx-0">
          <!-- All products nav item  -->
          <li class="nav-item">
            <a class="nav-link link-danger" href="../allProducts.html">All Products</a>
          </li>
        </div>

        <!-- nav item columns -->
        <div class="col-auto gx-0">
          <!-- women nav dropdown and its items -->
          <li class="nav-item dropdown">
            <a class="nav-link link-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="true" id="dropdownMenuLink">
              Women
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item link-active-bg" href="../categories/womenAllProducts.html">All
                  Products</a></li>
              <li><a class="dropdown-item link-active-bg " href="../categories/womenDresses.html">Dresses</a></li>
              <li><a class="dropdown-item link-active-bg " href="../categories/womenPants.html">Pants</a></li>
              <li><a class="dropdown-item link-active-bg" href="../categories/womenSkirts.html">Skirts</a></li>
            </ul>
          </li>
        </div>

        <!-- nav item columns -->
        <div class="col-auto gx-0">

          <!-- men nav dropdown and its items  -->
          <li class="nav-item dropdown">
            <a class="nav-link link-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Men
            </a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a class="dropdown-item link-active-bg" href="../categories/menAllProducts.html">All Products</a>
              </li>
              <li><a class="dropdown-item link-active-bg" href="../categories/menShirts.html">Shirts</a></li>
              <li><a class="dropdown-item link-active-bg" href="../categories/menPants.html">Pants</a></li>
              <li><a class="dropdown-item link-active-bg" href="../categories/menHoodies.html">Hoodies</a></li>
            </ul>
          </li>
        </div>
        <!-- nav item columns -->
        <div class="col-auto gx-0">
          <!-- kids nav item -->
          <li class="nav-item">
            <a class="nav-link link-danger" href="../categories/kidsAllProducts.html">Kids</a>
          </li>
        </div>
        <!-- contact nav item  -->
        <div class="col-auto gx-0">
          <li class="nav-item">
            <a class="nav-link link-danger" href="../contactUs.html">Contact</a>
          </li>
        </div>
      </ul>
  </div>
  </nav>
  </div>
</header>